mask_rcnn_coco.h5
Code/yolov8n-seg.pt
Code/yolov8x-seg.pt
Code/__pycache__
Code/mrcnn/__pycache__
Segmentated_Images
data
PreprocessedDataset
MRCNNTrainingLogs/MRCNNTrainedWeights
MRCNNTrainingLogs/MRCNNTrainedWeights_ALL.zip
YoloTrainingLogs/resultx-2/weights
.git2
data.zip
PreprocessedDataset.zip
MRCNNTrainingLogs/MRCNNTrainedWeights.zip
Segmentated_Images.zip
WebPortal/__pycache__/Paths.cpython-311.pyc
YoloTrainingLogs/resultx-2/weights.zip
